#MainContainer-avgTickerVal {
  background-color: #05595B;
width: 40%;
  border-radius: 15px;
  padding: 10px;
  min-width: 340px;
  max-width: 600px;
}

h1{
  color: #f0eddb;
}

#logoBitstamp{
    /* width:150px */
    height: 23px;
}

#logoCoinbase{
  height: 20px;
}

#logoBitfinex{
  height: 18px;
}

#Container-live {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  /* border-color: white; */
  /* border-style: solid; */
  /* border-width: 2px; */
  
}

#Container-live p {
  text-align: center;
  font-family: monospace;
  font-size: xx-large;
  margin-right: 10px;
  font-weight: 600;
  margin-left: 4px;
 
   

}
#bg{
  background-color: #ffffff;
  z-index: 100;
  width: 40px;
  height: 50px;
  display: flex;
  /* margin-left: 2px; */
  align-items: center;
}
#live-dot {
  width: 15px;
  /* width: 16%; */
  height: 15px;
  /* height: 40%; */
  margin-left: 8px;
  border-radius: 50%;
}

@keyframes livedot {
  0% {
    transform: scale(70%);
    background-color: rgba(232, 45, 45, 0.7);
  }
  5% {
    transform: scale(100%);
    background-color: rgba(232, 45, 45 ,1);
  }
  15% {
    transform: scale(80%);
  }
  25% {
    transform: scale(100%);
    background-color: rgba(232, 45, 45 ,1);

  }

  50% {
    transform: scale(70%);
    
  }
  100% {
    transform: scale(70%);
    background-color: rgba(232, 45, 45, 0.7);
  }
}

.live-active-dot{
    animation: livedot;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    background-color: rgb(255, 255, 255);
}
.not-live-active-dot{
    animation: none;
    background-color: rgb(123, 123, 123);
}

.live-active-container{
    color: rgb(255, 255, 255);
    background-color: rgb(232, 45, 45);
}

.not-live-active-container{
    color: rgb(113, 113, 113);
    background-color: rgb(53, 53, 53);
}

#Container-site-price{
  /* background-color: violet; */
  display: flex;
  justify-content: space-around;

}

.card-site-price{
  background-color: whitesmoke;
  border-radius: 15px;
  width: 190px;
  height: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

}

/* .card-site-price p{ */
  .price-site-price{
  color: rgb(255, 255, 255);
  background-color: rgb(61, 54, 54);
  height: 65px;
  font-family: sans-serif;
  font-weight: 600;
  position: inherit;
  letter-spacing: 3px;
  margin-top: 109px;
  font-size: large;
  transition: ease-in;
  animation-duration: 2.3s;
  animation-name: textChange;
  width: 200px;
  text-align: center;
  line-height: 65px;
  /* animation-iteration-count: infinite; */

  
}

.animate{
  animation-duration: 2.3s;
  animation-name: textChange;
}

@keyframes textChange{
  0%{
    color: black;
  }
  100%{
    color: rgb(242, 9, 9);
  }
}



.logo{
  position: absolute;
  margin-top: -34px;
}


@media only screen and (max-width: 1485px) {
 
  #Container-site-price{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;  
  }


  .card-site-price{
    margin: 5px;
  }


}
